{
  "presets": [
    [
      "@babel/preset-env", {
          "useBuiltIns": "usage",
          "corejs": "3.11.0",
          "shippedProposals": true,
          "targets": {
            "node": "10.15"
          }
      }
    ],
    "@babel/preset-react"
  ],
  
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "react-hot-loader/babel"
  ]
}