<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="py-3 needs-validation" id="form-add" onsubmit="return false">
                <div class="col-12 my-3 d-flex">
                    <div class="col-6">
                        <label class="text-left">Key</label>
                        <input class="form-control" name="key" type="text" data-key="Key" placeholder="Key" />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="text-left">Số tập</label>
                                <input type="text" name="episode" placeholder="Số tập" class="form-control" data-key="Episode" />
                            </div>
                            <div class="col-md-6">
                                <label class="text-left">Thời lượng anime (phút)</label>
                                <input type="text" name="duration" placeholder="Thời lượng anime" class="form-control" data-key="MovieDuration" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3 d-flex">
                    <div class="col-6">
                        <label class="text-left">Tiêu đề</label>
                        <input class="form-control" name="title" data-key="Title" type="text" placeholder="Tiêu đề" />
                    </div>
                    <div class="col-md-6">
                        <label class="text-left">Tiêu đề bổ sung</label>
                        <input type="text" placeholder="Tiêu đề bổ sung"
                               name="titlevie" class="form-control" data-key="TitleVie" />
                    </div>
                </div>
                <div class="col-12 flex-wrap mb-3 d-flex">
                    <div class="col-6">
                        <label class="text-left">Bộ sưu tập</label>
                        <select data-key="CollectionId" class="form-control">
                            @foreach (var item in (IEnumerable<AnimeAB.Reponsitories.Entities.Collections>)ViewData["Collections"])
                            {
                                <option value="@item.Key">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="text-left">Thể loại</label>
                        <select data-key="CategoryKey" class="form-control">
                            @foreach (var item in (IEnumerable<AnimeAB.Reponsitories.Entities.Categories>)ViewData["Categories"])
                            {
                                <option value="@item.Key">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-3 d-flex">
                    <div class="col-6">
                        <div class="nav nav-tabs mb-2" style="border: 0px">
                            <a href="#url" style="color: green" data-toggle="tab">Thêm Url</a>
                            &nbsp;&nbsp;
                            <span>hoặc</span>
                            &nbsp;&nbsp;
                            <a data-toggle="tab" style="color: green" href="#file">Upload ảnh</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="file">
                                <input type="file" name="file" class="form-control" data-key="FileUpload" />
                            </div>
                            <div class="tab-pane active" id="url">
                                <input type="text" name="url" class="form-control" data-key="Image" placeholder="Thêm url ảnh" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="text-left">Trainer</label>
                                <input type="text" placeholder="Trainer" name="trainer" class="form-control" data-key="Trainer" />
                            </div>
                            <div class="col-6">
                                <label class="text-left">Kiểu</label>
                                <select class="form-control" name="type" data-key="Type">
                                    <option value="TV">TV</option>
                                    <option value="OVA">OVA</option>
                                    <option value="Movie">Movie</option>
                                    <option value="Special">Special</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="col-12">
                        <label class="text-left">Mô tả</label>
                        <textarea type="text" name="description" style="height: 200px"
                                  placeholder="Mô tả" class="form-control" data-key="Description"></textarea>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a href="#" class="btn btn-secondary" name="exit" data-dismiss="modal">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Thoát
                    </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>