@{
    ViewBag.Title = "AnimeAB - Anime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Anime</h1>
        <p>Quản lý phim anime</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Anime</li>
    </ul>
</div>
<div class="">
    <div class="card">
        <div class="card-header text-right">
            <div class="col-12 my-3">
                <div class="row">
                    <div class="col-2">
                        <label class="w-100 text-left">Thể loại</label>
                        <select class="form-control" id="sort-cate">
                            @foreach (var item in (IEnumerable<AnimeAB.Domain.Entities.Categories>)ViewData["Categories"])
                            {
                                <option value="@item.Key">@item.Title</option>
                            }
                            <option value="all" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="w-100 text-left">Bộ sưu tập</label>
                        <select class="form-control" id="sort-collection">
                            @foreach (var item in (IEnumerable<AnimeAB.Domain.Entities.Collections>)ViewData["Collections"])
                            {
                                <option value="@item.Key">@item.Title</option>
                            }
                            <option value="all" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="w-100 text-left">Trạng thái upload</label>
                        <select class="form-control" id="sort-status">
                            <option value="1">Sắp công chiếu</option>
                            <option value="2">Đang công chiếu</option>
                            <option value="3">Đã hoàn thành</option>
                            <option value="0" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="w-100 text-left">Ngày công chiếu</label>
                        <select class="form-control" id="sort-time">
                            <option value="2" selected>Sắp xếp gần đây</option>
                            <option value="1">Sắp xếp cũ hơn</option>
                        </select>
                    </div>
                    <div class="col-1 text-left" style="padding-top: 28px">
                        <button class="btn btn-info" onclick="reloadTables()">Lọc</button>
                    </div>
                    <div class="col-2 text-right" style="padding-top: 28px">
                        <a href="#" id="btn-toggle-add" class="btn btn-info" data-toggle="modal" data-target="#modal-add"><i class="fa fa-plus"></i>Thêm mới</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="myTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th width="5%">Key</th>
                        <th width="15%">Ảnh</th>
                        <th width="15%">Tiêu đề</th>
                        <th width="10%">Số tập</th>
                        <th width="10%">Trạng thái</th>
                        <th width="10%">Chủ đề</th>
                        <th width="10%">Banner</th>
                        <th width="25%">Xử lý</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@{await Html.RenderPartialAsync("Add.cshtml");}
@{await Html.RenderPartialAsync("Edit.cshtml");}
@{await Html.RenderPartialAsync("UploadBanner.cshtml");}
@section scripts{
    <script src="~/controllers/anime.js"></script>
}