<div class="modal fade" id="modal-banner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 50%" role="document">
        <div class="modal-content">
            <form class="py-3 needs-validation" id="form-banner" onsubmit="return false">
                <div class="col-12 mb-3">
                    <div class="col-12">
                        <label class="text-left">Chọn banner của phim (1300x600)</label>
                        <input type="file" name="file" class="form-control" data-key="FileUpload" />
                    </div>
                </div>
                <input class="form-control hidden" style="opacity: 0" name="key" type="text" data-key="Key" placeholder="Key" />
                <div class="col-12 text-right">
                    <a href="#" class="btn btn-secondary" name="exit" data-dismiss="modal">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Thoát
                    </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btn-add-banner"><i class="fa fa-plus"></i>&nbsp;Đặt banner</button>
                </div>
            </form>
        </div>
    </div>
</div>