
.search-content div{
    width: 100%;
}

.search-content input {
    width: 100%;
    height: 40px;
    color: #111;
    padding-right: 100px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,.05)!important
}
.search-content input:focus {
    box-shadow: 0 0 10px rgba(0,0,0,.1)
}


.search-content .search-result-pop {
    background: #414248;
    box-shadow: 0 20px 20px rgb(0 0 0 / 30%);
    z-index: 6;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    height: max-content;
}
@media screen and (max-width: 1025px){
    .search-content .search-result-pop .film-item{
        margin: 5px 0;
    }
    .search-content .search-result-pop .film-item .film-detail{
        padding-left: 57px;
    }
}
.search-content .search-result-pop .search-infor{
    font-size: 13px;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.search-content .search-result-pop .result{
    text-align: left;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-bottom: 1px dashed #5c5d63;
    cursor: pointer;
    color: #fff;
}
.search-content .search-result-pop .result .no-result:hover{
    color: #cae962 !important;
}
.btn-view-all span{
    color: #111 !important;
}
.search-content .search-result-pop .result-animes .btn-view-all{
    padding: 15px;
    background: #cae962!important;
    font-size: 16px;;
    text-align: center;
    border-bottom: none;
    width: 100%;
    z-index: 10;
    position: relative;
    display: block;
}

.search-content .filter-icon {
    height: 26px;
    cursor: pointer;
    line-height: 26px;
    font-size: 15px;
    background: #4a4b51;
    color: #fff;
    padding: 0 6px;
    position: absolute;
    right: 7px;
    top: 10px;
    z-index: 3
}
.search-content .filter-icon i{
    display: none;
}
.search-content .search-icon {
    width: min-content;
    font-size: 17px;
    background: 0 0;
    border: none;
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
    color: #111;
    text-align: center;
    position: absolute;
    right: 50px;
    top: 3px;
    z-index: 2;
    cursor: pointer;
}
.search-content .search-icon:hover{
    color: #9fc71e;
}

@media screen and (max-width: 991px){
    .search-content {
        padding-left: 50px;
    }
    .search-content input{
        padding-right: 50px;
    }
    .search-content .search-result-pop .result-animes .btn-view-all{
        font-size: 14px;
        padding: 10px;
    }
    .search-content .filter-icon{
        top: 3px;
        left: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        padding: 8px;
        background: rgba(255,255,255,.2)!important;
    }
    .search-content .filter-icon i{
        display: inline-block;
    }
    .search-content .filter-icon span{
        display: none;
    }
    .search-content .search-icon{
        right: 7px;
    }
}

/* movie */
.search-result-pop .film-item{
    display: block;
    text-align: left;
    padding: 10px;
    width: 100%;
    border-bottom: 1px dashed #5c5d63;
    cursor: pointer;
    position: relative;
}

.search-result-pop .film-item.active,.search-result-pop .film-item:hover{
    background: rgba(255,255,255,.05)
}
.search-result-pop .film-item .film-poster{
    float: left;
    width: 50px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    background-color: rgba(255,255,255,.1);
}

.search-result-pop .film-item .film-poster img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.search-result-pop .film-item .film-detail{
    padding-left: 65px;
    font-size: 12px
}
.search-result-pop .film-item .film-detail .film-name {
    font-size: 14px;
    line-height: 1.2em;
    max-width: 100%;
    margin-bottom: 5px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600
}
.search-result-pop .film-item .film-detail .film-description{
    font-size: 13px;
    line-height: 1.2em;
    max-width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #aaa
}
.search-result-pop .film-item .film-detail .film-infor{
    display: flex;
}
.search-result-pop .film-item .film-detail .film-infor,.film-detail .film-infor span{
    color: #aaa !important;
    font-size: 10px;
}
.search-result-pop .film-item .film-detail .film-infor .dot{
    border-radius: 50%;
    background: rgba(255,255,255,.3);
    display: inline-block;
    margin: 6px;
    width: 4px;
    height: 4px;
}

.film-detail .film-name .keyword{
    color: #cae962;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
}

.film-detail .film-description .keyword{
    color: #cae962;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
}