<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error 404 - Not find page</title>
</head>
<body style="margin: 0; padding: 0">
    <div style="width: 100%; height: 100%; background: #202125; text-align: center; position: relative">
        <div style="position: absolute; top: 20%; left: 40%">
            <div><img src="~/image/404.png" style="margin: auto" /></div>
            <div style="color: #FFFFFF; font-size: 30px; margin-top: 40px; text-align: center; justify-content: center">Error 404 - Not find to page</div>
        </div>
    </div>
</body>
</html>