
@{
    ViewBag.Title = "AnimeAB - Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i>Trang chủ</h1>
        <p></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Tổng số anime</h4>
                <p><b>@ViewData["Animes"].ToString() phim</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-bookmark-o fa-3x"></i>
            <div class="info">
                <h4>Thể loại</h4>
                <p><b>@ViewData["Categories"].ToString()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Bộ sưu tập</h4>
                <p><b>@ViewData["Collections"].ToString()</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon fa fa-table fa-3x"></i>
            <div class="info">
                <h4>Tài khoản</h4>
                <p><b>@ViewData["Users"].ToString()</b></p>
            </div>
        </div>
    </div>
</div>
@* <div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Số anime upload theo tuần</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">gio</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
        </div>
    </div>
</div> *@