@{
    ViewBag.Title = "AnimeAB - Anime Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Series - @ViewData["Series"]</h1>
        <p>Chi tiết series anime</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Series - @ViewData["Series"]</li>
    </ul>
</div>
<div class="container">
    <div class="card">
        <div class="card-header text-right">
            <a href="@Url.Action("Index", "AnimeSeries", Context.Request.Scheme)" class="btn btn-info btn-sm"><i class="fa fa-arrow-circle-left"></i></a>
            <a href="#" id="modal__btn-add" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-add"><i class="fa fa-plus"></i>Thêm anime cho series</a>
        </div>
        <div class="card-body">
            <table id="myTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th width="25%">Anime</th>
                        <th width="25%">Session (phần anime)</th>
                        <th width="25%">Năm phát hành</th>
                        <th width="25%">Xử lý</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@{await Html.RenderPartialAsync("CreateAnimes.cshtml");}
@section scripts{
    <script type="text/javascript">
        var series = "@ViewData["Series"]";
    </script>
    <script src="~/controllers/animeSeries.js"></script>
}
