@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <div class="login-form">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Xác nhận email ?</h3>
        <div class="form-group">
            <h4>Kiểm tra Email của bạn</h4>
            <p style="font-size:15px; word-spacing:2px">Chúng tôi vừa gửi một liên kết đến email cho bạn!</p>
        </div>
    </div>
</div>
