@charset "utf-8";@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);html {
    position: relative
}
/* ===============================
 _     _       _     _           
| |__ (_)_ __ | |__ | |__  _ __  
| '_ \| | '_ \| '_ \| '_ \| '_ \ 
| |_) | | | | | | | | | | | |_) |
|_.__/|_|_| |_|_| |_|_| |_| .__/ 
                          |_| 

=================================== */

body{
	font-family: Montserrat,Arial !important;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.65;
    background-color: #202125 !important;
}
body #animeAB a, #animeAB h5, #animeAB p{
    color: #fff;
}
body.modal-open {
    overflow: hidden !important;
} 
html {
    --scrollbarBG: #202125;
    --thumbBG: gray;
  }
  body::-webkit-scrollbar {
    width: 17px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border: 3px solid var(--scrollbarBG);
  }
body #animeAB a:hover {
    text-decoration: none;
    color: #cae962;
}

button:focus, select:focus {
    outline: 0;
}

iframe{
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

p {
    margin-bottom: 24px;
}

p a {
    font-weight: bold;
}

ol, ul {
	list-style: none;
}

a:hover img {
    opacity: .8;
    transition: 0.3s;
}

.w-90{
    width: 92% !important;
}
@media screen and (max-width: 991px){
    .w-90{
        width: 100% !important;
    }
    
}
@media screen and (min-width: 1590px){
    .w-90{
        width: 95% !important;
    }
    
}
.nav-pills .nav-link {
    background: #F1F1F1;
	margin-right: .5rem;
}

.form-control {
	background-color: #F1F1F1;
	border: 0;
}

.border-shadow {
	box-shadow: 0 3px 0px 0 rgba(0,0,0,.03), 3px 6px 12px 0 rgba(0,0,0,.2);
}

.title-500 {
	font-weight: 500;
	word-break: break-word;
}

.navigation-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 70px;
}

@media screen and (max-width: 991px){
    #page-content-wrapper, #animeAB .fixed-header{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
/*----------------------- 2. SCROLLBAR ------------------------------ */

.scrollbar-sidenav, .scrollbar-sidenav-res {
    height: calc(100vh - 4rem); 
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

/*----------------------- 3. FADE EFFECT ON PAGE LOAD ------------------------------ */

#animeAB .animeAB-wrapper, #animeAB img {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

#animeAB{
    position: relative;
    padding: 0 1%;
}

@media screen and (min-width: 1590px){
    #animeAB{
        padding: 0 3%;
    }
}

@media screen and (max-width: 991px){
    #animeAB{
        padding: 0 !important;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*----------------------- 4. PACE LOAD BAR ------------------------------ */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

/*----------------------- BACK TO TOP ------------------------------ */
#back-to-top.show {
    opacity: 1;
}
#back-to-top {
    right: 16px;
}
#back-to-top, #back-to-home {
    position: fixed;
    bottom: 30px;
    z-index: 999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.btn-custom {
    color: #FFFFFF !important;
    background-color: #5f42e7 !important;
    border-color: #5f42e7 !important;
    border-radius: 1rem !important;
}

@media screen and (max-width: 991px){
    #back-to-top{
        font-size: 13px;
        text-align: center;
    }
    #back-to-top i{
        width: auto;
    }
    .slideout-heading h5{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* ----carousel---- */
@media screen and (min-width: 991px){
    .carousel{
        width: 100%;
    }
}

.load-more{
    border-radius: 6px;
    border: 1px solid #EE7044;
    color: #F7E3E4;
    padding: 7px;
    background-color: #EE7044;
    font-size: 18px;
}

.slideout-heading{
    margin-bottom: 20px;
    position: relative;
}
@media screen and (max-width: 991px){

    #animeAB .slideout-heading{
        margin-bottom: 5px;
    }
    #animeAB .slideout-heading .cat-heading{
        font-size: 16px !important;
    }
}
#animeAB .active{
    display: block;
}
.cat-heading{
    font-size: 22px!important;
    line-height: 40px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: #cae962 !important;
}
.content{
    width: 75%;
    position: relative;
    height: auto;
}
@media screen and (max-width: 1025px){
    .content{
        width: 100%;
        margin-bottom: 30px;
    }
}

.main-pad{
    margin: auto;
    padding: 0 15px;
    width: 100%;
}

.anis-content{
    padding-top: 100px;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px){
    .anis-content{
        padding-top: 10px;
    }
}

.anis-content-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.anis-cate{
    margin: 0 -15px;
}
@media screen and (max-width: 766px){
    .anis-content{
        padding-top: 0;
    }
}

.react-loading{
    background-color: #2a2c31;
}
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202125;
    position: relative;
}

.fancybox__slide{
    position: relative;
}
.fancybox__content{
    padding: 40px 15px 10px !important;
    background-color: #2a2c31 !important;
    color: #FFFFFF !important;
    border-radius: 20px !important;
}
.carousel__button.is-close{
    position: absolute;
    top: -15px !important;
    right: -15px !important;
    margin: 0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
    text-align: center;
    justify-content: center;
}
.carousel__button.is-close svg{
    width: 12px;
    color: #111;
}