@{
    ViewBag.Title = "Error 401";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-error tile">
    <h1><i class="fa fa-exclamation-circle"></i>&nbsp;Error 401</h1>
    <p>You are permission denied</p>
    <p><a class="btn btn-primary" href="javascript:window.history.back();">Quay lại</a></p>
</div>