<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="py-3 needs-validation" id="form-add" onsubmit="return false">
                <div class="col-12 my-3 d-flex">
                    <div class="col-6">
                        <label class="text-left">Email</label>
                        <input type="text" name="email" data-key="Email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="col-6">
                        <label class="text-left">Mật khẩu</label>
                        <input type="password" id="password" name="password" class="form-control" data-key="Password" placeholder="Mật khẩu" />
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="col-12">
                        <label class="text-left">Nhập lại mật khẩu</label>
                        <input class="form-control" type="password" name="password_confirm"
                               data-key="ConfirmPassword" placeholder="Nhập lại mật khẩu" />
                    </div>
                </div>
                <div class="col-12 mb-3 d-flex">
                    <div class="col-6">
                        <label class="text-left">Tên của bạn</label>
                        <input type="text" class="form-control" name="displayname" data-key="FullName" placeholder="Tên đầy đủ" />
                    </div>
                    <div class="col-6">
                        <label class="text-left">Vai trò</label>
                        <select class="form-control" data-key="Role">
                            <option value="Admin">Admin</option>
                            <option value="Member" selected>Member</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a href="#" class="btn btn-secondary" name="exit" data-dismiss="modal">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Thoát
                    </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i>&nbsp;Tạo tài khoản</button>
                </div>
            </form>
        </div>
    </div>
</div>
