@{
    ViewBag.Title = "AnimeAB - Bộ sưu tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Bộ sưu tập</h1>
        <p>Bộ sưu tập theo mùa</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Bộ sưu tập</li>
    </ul>
</div>
<div class="card">
    <div class="card-header text-right">
        <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-add" id="modal__btn-add"><i class="fa fa-plus"></i>Thêm mới</a>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="10%">Meta</th>
                    <th width="30%">Ảnh</th>
                    <th width="20%">Tiêu đề</th>
                    <th width="20%">Ngày tạo</th>
                    <th width="20%">Xử lý</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@{await Html.RenderPartialAsync("Add.cshtml");}
@{await Html.RenderPartialAsync("Edit.cshtml");}
@section scripts{
    <script src="~/controllers/collect.js"></script>
}