.deslide-wrap {
    width: 100%;
    height: 100%;
}
#slider{
    z-index: 1;
    position: relative;
    display: block;
    padding-right: 0;
    width: 100%;
    height: max-content;
    margin-bottom: 30px;
}
#slider .slick-slider .slick-list{
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 991px){
    .deslide-wrap{
        margin: 0;
    }
}
.deslide-item {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.deslide-item .deslide-item-content {
    max-width: 800px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    margin-left: 20px;
}


.deslide-item .deslide-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 600px;
}
.deslide-item .deslide-cover .deslide-cover-img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
}
.deslide-item .deslide-cover .deslide-cover-img img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(0px);
}
.deslide-item .deslide-cover .deslide-cover-img:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #202125;
    background: -moz-linear-gradient(90deg,#202125 0,rgba(32,33,37,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
    background: -webkit-linear-gradient(90deg,#202125 0,rgba(32,33,37,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
    background: linear-gradient(90deg,#202125 0,rgba(32,33,37,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%)
}

.deslide-item .deslide-cover .deslide-cover-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #202125;
    background: -moz-linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
    background: -webkit-linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
    background: linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 50%,#202125 100%);
    z-index: 2;
}

@media screen and (max-width: 991px){
    .deslide-item .deslide-cover .deslide-cover-img:before{
        background: none;
    }
    .deslide-item .deslide-cover .deslide-cover-img img {
        opacity: .6;
    }
    .deslide-item .deslide-cover .deslide-cover-img:after {
        background: #202125;
        background: -moz-linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 82%);
        background: -webkit-linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 82%);
        background: linear-gradient(0deg,#202125 0,rgba(32,33,37,0) 82%);
    }
}


.deslide-item .desi-sub-text {
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 20px;
    color: #cae962
}


.deslide-item .desi-head-title {
    font-size: 60px;
    line-height: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    max-height: 1255px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
}


.deslide-item .desi-description {
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
    font-weight: 500;
    max-width: 550px;
    text-align: justify;
}

.deslide-item .btn-focus,.btn-primary,.btn-tab.active {
    background: #cae962!important;
    color: #202125!important;
    border-color: #cae962!important;
    box-shadow: none!important;
}
.deslide-item .btn-radius{
    border-radius: 30px;
}
.deslide-item .deslide-poster {
    right: 0;
    width: calc(100% - 800px);
    top: 0;
    bottom: 0;
    transform: rotate(20deg);
    z-index: 1
}

.deslide-item .deslide-poster .deslide-poster-wrap {
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 20px solid #fff
}

@media screen and (max-width: 991px){
    .deslide-item .deslide-cover{
        height: 300px;
        width: 100%;
    }
    .deslide-item-content{
        margin: 0 !important;
        padding-right: 80px;
        padding-left: 15px;
    }
    .desi-sub-text, .desi-head-title{
        font-size: 16px !important;
        margin-bottom: 10px !important;
    }
    .sc-detail{
        display: none;
    }
    .desi-description{
        font-size: 11px !important;
        line-height: 1.3em;
        -webkit-line-clamp: 2 !important;
        margin-bottom: 15px;
    }
    .desi-buttons .btn {
        font-size: 12px;
    }
}

#slider .sc-detail {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px
}

#slider .sc-detail .dot {
    background: #fff;
    width: 4px;
    height: 4px;
    margin: 2px 10px;
    opacity: .5
}

#slider .sc-detail .scd-item {
    margin-bottom: 5px;
    margin-right: 15px;
    display: inline-block;
    overflow: hidden;
    color: #fff;
}

#slider .sc-detail .scd-item i {
    font-size: .8em;
    position: relative;
    top: -1px
}

#slider .sc-detail .scd-item .quality {
    display: inline-block;
    padding: 3px 4px;
    background: #cae962;
    color: #111;
    border-radius: 5px;
    line-height: 1em;
    font-weight: 600;
    font-size: 12px
}

#slider .react-loading-skeleton{
    height: 606px;
    background: #202125 !important;
}
