<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 60%" role="document">
        <div class="modal-content">
            <form class="py-3 needs-validation" id="form-add" onsubmit="return false">
                <div class="col-12 my-3">
                    <label class="text-left">Series Anime</label>
                    <input class="form-control" name="series" type="text" placeholder="Series Anime" />
                </div>
                <div class="col-12 text-right">
                    <a href="#" class="btn btn-secondary" name="exit" data-dismiss="modal">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Thoát
                    </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i>&nbsp;Tạo series</button>
                </div>
            </form>
        </div>
    </div>
</div>