<div class="modal fade" id="modal-add" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 100%" role="document">
        <div class="modal-content">
            <form class="py-3 needs-validation" id="form-add" onsubmit="return false">
                <div class="col-12 mb-3">
                    <label class="text-left">Anime</label>
                    <div class="d-flex">
                        <div style="width: 80%;">
                            <select class="form-control" style="width: 100%; height: 30px" id="anime" data-key="Key">
                                @foreach (var anime in (List<AnimeAB.Reponsitories.Entities.Animes>)ViewData["Animes"])
                                {
                                    <option value="@anime.Key">@anime.Title</option>
                                }
                            </select>
                        </div>
                        <div class="ml-1" style="width: 20%">
                            <input class="form-control" type="number" name="ordinal" data-key="Ordinal" placeholder="STT" value="2" min="1" max="1000" />
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-6">
                            <label class="text-left">Session (thử tự anime)</label>
                            <input class="form-control" name="session" data-key="Session" placeholder="Session (thứ tự anime)" />
                        </div>
                        <div class="col-6">
                            <label class="text-left">Năm trình chiếu</label>
                            <input class="form-control" name="year" data-key="YearProduce" placeholder="Năm trình chiếu" />
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a href="#" class="btn btn-secondary" name="exit" data-dismiss="modal">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Thoát
                    </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i>&nbsp;Thêm anime</button>
                </div>
            </form>
        </div>
    </div>
</div>