<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="py-3 needs-validation" id="form-add" onsubmit="return false">
                <div class="col-12 my-3 d-flex">
                    <div class="col-6">
                        <label class="text-left">Key</label>
                        <input class="form-control" name="key" type="text" data-key="Key" placeholder="Key" />
                    </div>
                    <div class="col-6">
                        <label class="text-left">Tiêu đề</label>
                        <input class="form-control" name="title" data-key="Title" type="text" placeholder="Tiêu đề" />
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="col-12">
                        <div class="d-flex">
                            <label class="text-left mr-2">
                                Link video anime
                            </label>
                            <div class="animated-checkbox">
                                <label style="color: green">
                                    <input name="iframe" type="checkbox" class="form-control custom-checkbox" data-key="Iframe">
                                    <span class="label-text">sử dụng link iframe</span>
                                </label>
                            </div>
                        </div>
                        <input type="text" placeholder="Link anime" name="link" class="form-control" data-key="Link" />
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="d-flex">
                        <div class="col-6">
                            <label class="text-left mr-2">Link vuighe</label>
                            <input type="text" placeholder="Link vuighe" name="linkvg" data-key="LinkVuighe" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label class="text-left mr-2">Link HDX</label>
                            <input type="text" placeholder="Link HDX" name="linkhdx" data-key="LinkHDX" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex mb-3">
                    <div class="col-10">
                        <div class="nav nav-tabs mb-2" style="border: 0px">
                            <a href="#url" style="color: green" data-toggle="tab">Thêm Url</a>
                            &nbsp;&nbsp;
                            <span>hoặc</span>
                            &nbsp;&nbsp;
                            <a data-toggle="tab" style="color: green" href="#file">Upload ảnh</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="file">
                                <input type="file" name="file" class="form-control" data-key="FileUpload" />
                            </div>
                            <div class="tab-pane active" id="url">
                                <input type="text" name="url" class="form-control" data-key="Image" placeholder="Thêm url ảnh"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="text-left">Tập số</label>
                        <input placeholder="Tập số" type="number" min="1" max="1000" class="form-control" name="episode" data-key="Episode" />
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a href="#" class="btn btn-secondary" name="exit" data-dismiss="modal">
                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Thoát
                    </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>